# Data
dataset-raw
results/preprocessed/
results/clients/
results/models/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Flower / FLWR
.flwr/

# Result outputs
results/figures/
results/logs/
*.parquet
*.ubj
*.npy
*.pkl

# Not for git
THESIS.md
